{{define "_signal"}}
{{$s := "poor"}}
{{if ge . -75 }}
{{$s = "weak"}}
{{end}}
{{if ge . -70 }}
{{$s = "medium"}}
{{end}}
{{if ge . -65 }}
{{$s = "strong"}}
{{end}}
<div class="signal-icon {{$s}}">
  <div class="signal-bar"></div>
  <div class="signal-bar"></div>
  <div class="signal-bar"></div>
</div>
{{end}}