{{template "layout_start"}} {{define "title"}}Pantavisor Wifi Connect{{end}}

<section class="flex justify-content-center pb-2">
	<header class="col-6">
		{{if eq .NetworkConnected ""}}
		<h1>Welcome!</h1>
		<p>Select a network and connect to it</p>
		{{else}}
		<h1>Congratulations!</h1>
		<p>You are now connected to <b>{{.NetworkConnected}}</b></p>
		{{if notNil .IpConfiguration}}
		<section>
			<header>
				<h4>Interface configuration</h4>
				<div class="mb-0">
					<p class="mt-0 mb-05">
						<span class="inet-label">Inet:&nbsp;</span>
						{{range $ip := .IpConfiguration.Ips}}
						<span class="mr-1">{{$ip.Addr}}/{{$ip.Mask}}</span>
						{{end}}
					</p>
					<p class="mt-0 mb-05">
						<span class="inet-label">Gateway:&nbsp;</span>
						{{range $gw := .IpConfiguration.Gw}}
						<span class="mr-1">{{$gw.Addr}}/{{$gw.Mask}}</span>
						{{end}}
					</p>
					<p class="mt-0 mb-05">
						<span class="inet-label">Dns:&nbsp;</span>
						{{range $dns := .IpConfiguration.DnsAddrs}}
						<span class="mr-1">{{$dns.Addr}}/{{$dns.Mask}}</span>
						{{end}}
					</p>
				</div>
			</header>
		</section>
		{{end}} {{end}}
	</header>
</section>

<section class="flex flex-direction-row justify-content-center">
	<header class="col-12 flex align-items-center justify-content-center mb-2">
		<button
			class="btn btn-primary"
			hx-get="/connections"
			hx-target="#connections-list"
			hx-swap="morph:outerHTML"
		>
			Scan Networks
			<div class="htmx-indicator spinner-grow" role="status"></div>
		</button>
	</header>
	{{ block "connections" . }} {{ $numOfConns := len .Connections }}
	<section
		id="connections-list"
		class="connections flex justify-content-center col-12"
	>
		<form class="col-6" hx-post="/connections" hx-target="body">
			{{if not (eq .Error nil)}}
			<div class="alert alert-danger">{{.Error}}</div>
			{{end}}
			<div
				class="input-group mb-2 flex align-items-center justify-content-center"
			>
				<details class="custom-select">
					<summary class="radios">
						{{ if (eq $numOfConns 0) }}
						<input
							type="radio"
							title="No networks available"
							checked
						/>
						{{ else }} {{range $conn := .Connections}}
						<input
							type="radio"
							name="ssid"
							id="{{$conn.ID}}"
							title='{{$conn.Name}} {{if (ge $conn.Frequency 1)}}{{block "_frequency" $conn.Frequency}}{{end}}{{end}}'
							value="{{$conn.Name}}---{{$conn.Frequency}}"
							{{
							if
							$conn.Saved
							}}checked{{end}}
						/>
						{{ end }} {{ end }}
					</summary>
					<ul class="list">
						{{ if eq $numOfConns 0 }}
						<li>
							<label>No networks</label>
						</li>
						{{ else }} {{range $conn := .Connections}}
						<li>
							<label for="{{$conn.ID}}">
								{{block "_signal" $conn.Strength}}{{end}}
								{{$conn.Name}}
								<span class="ml-05">
									{{if (ge $conn.Frequency 1)}} {{block
									"_frequency" $conn.Frequency}}{{end}}
									{{end}}
								</span>
								{{ if $conn.Saved }} * {{ end }}
							</label>
						</li>
						{{end}} {{ end }}
					</ul>
				</details>
			</div>
			<div class="input-group mb-1 flex">
				<label class="input-group-text" for="password">Password</label>
				<input
					name="password"
					id="password"
					type="password"
					aria-label="Password"
					class="form-control"
				/>
			</div>
			<div class="input-group mb-2 flex">
				<input
					type="checkbox"
					id="show-password"
					class=""
					onclick="showPassword('password')"
				/>
				<label class="input-group-text" for="show-password"
					>Show Password</label
				>
			</div>
			<script>
				function showPassword(elementID) {
					var x = document.getElementById(elementID);
					if (x.type === "password") {
						x.type = "text";
					} else {
						x.type = "password";
					}
				}
			</script>
			<div class="input-group mb-2 flex justify-content-center">
				<button class="btn btn-primary" type="submit">
					Connect to this network
					<div
						class="htmx-indicator spinner-grow"
						role="status"
					></div>
				</button>
			</div>
		</form>
	</section>
	{{ end }}
</section>

{{template "layout_end"}}
