{{define "layout_start"}}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{template "title"}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      as="font"
      href="/static/stylesheets/processed-gfonts-c84f8ea26fc04651.css"
    />
    <link
      href="/static/stylesheets/processed-gfonts-c84f8ea26fc04651.css"
      rel="stylesheet"
    />

    <link
      rel="icon"
      href="/static/img/cropped-512x512_pixel_perfect-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="/static/img/cropped-512x512_pixel_perfect-192x192.png"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon"
      href="/static/img/cropped-512x512_pixel_perfect-180x180.png"
    />
    <meta
      name="msapplication-TileImage"
      content="/static/img/cropped-512x512_pixel_perfect-270x270.png"
    />

    <link rel="stylesheet" href="/static/stylesheets/main.css" />
  </head>
  <body hx-ext="multi-swap, morph">
    <header>
      <nav>
        <section class="container">
          <div class="flex justify-content-center">
            <p class="mt-2 mb-2">
              <img height="60" src="/static/img/logo.svg" />
            </p>
          </div>
        </section>
      </nav>
    </header>
    <section id="content" class="container">
      {{end}} {{define "layout_end"}}
    </section>
    <footer class="pt-6 pb-4 mb-4">
      <section class="container">
        <div class="flex justify-content-center">Pantavisor</div>
      </section>
    </footer>

    <script defer src="/static/js/1.9.6_dist_htmx.min.js"></script>
    <script defer src="/static/js/1.9.6_dist_ext_multi-swap.js"></script>
    <script defer src="/static/js/0.0.9_dist_idiomorph-ext.min.js"></script>
    <script defer src="/static/js/index.js"></script>
  </body>
</html>
{{end}}
