{{template "layout_start"}} {{define "title"}}Pantavisor Wifi Connect{{end}}

<section class="flex justify-content-center">
	<section class="col-6">
		<header class="mt-6">Applying changes...</header>
		<p>
			Your device will soon be online. If connection is unsuccessful, the
			Access Point will be back up in a few minutes, and reloading this
			page will allow you to try again.
		</p>
	</section>
</section>

{{template "layout_end"}}
